.x {
	/* hex color */
	color: #RGB[A];
	color: #RRGGBB[AA];
	
	/* functional color (RGBA=number|percent) */
	color: rgb[a](R, G, B[, A]);
	color: rgb[a](R G B[ / A]);
	
	color: hsl[a](H, S, L[, A]);
	color: hsl[a](H S L[ / A]); /*
		H    0 360     0|360:red  120:green  240:blue
		S    0 100%    0:gray     100:full
		L    0 100%    0:black    50:normal  100:white
	*/
	
	/* prop val calc */
	width: calc(10px + 100px);
	width: calc(100% - 30px);
	width: calc(2em * 5);
	width: calc(10% - (3px - 2em));
	width: calc(var(--variable-width) + 20px);
	
	/* gradient */
	background: linear-gradient(sideOrCorner, angle, linearColorStop, colorHint);/*
		sideOrCorner:     to bottom|top left|right
		angle:            0deg
		linearColorStop:  color ?stop ?stop  (stop: percentage|length)
		colorHint:        length */
	background: linear-gradient(45deg, blue, red);
	background: linear-gradient(to left top, blue, red);
	background: linear-gradient(0deg, blue, green 40%, red);
	background: linear-gradient(.25turn, red, 10%, blue);
	background: linear-gradient(45deg, red 0 50%, blue 50% 100%);
	background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
							linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
							linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}