.x {
	/* hex color */
	color: #RGB[A];
	color: #RRGGBB[AA];
	
	/* functional color (RGBA=number|percent) */
	color: rgb[a](R, G, B[, A]);
	color: rgb[a](R G B[ / A]);
	
	color: hsl[a](H, S, L[, A]);
	color: hsl[a](H S L[ / A]); /*
		H    0 360     0|360:red  120:green  240:blue
		S    0 100%    0:gray     100:full
		L    0 100%    0:black    50:normal  100:white
	*/
	
	/* prop val calc */
	width: calc(10px + 100px);
	width: calc(100% - 30px);
	width: calc(2em * 5);
	width: calc(10% - (3px - 2em));
	width: calc(var(--variable-width) + 20px);
}