.grid-container {
  display: grid;
	grid-auto-columns:     auto|max-content|min-content|length;
	grid-auto-flow:        row|column|dense|row dense|column dense;
	grid-auto-rows:        auto|max-content|min-content|length;
	grid-row-gap:          number;
	grid-column-gap:       number;
	grid-template-rows:    none|auto|max-content|min-content|length;
	grid-template-columns: none|auto|max-content|min-content|length;
	grid-template-areas:   none|itemnames;
	/* shorthands: */
	grid-gap:      grid-row-gap grid-column-gap;
	grid-template: none|grid-template-rows / grid-template-columns|grid-template-areas;
	grid:          grid-template-rows grid-template-columns grid-template-areas grid-auto-rows grid-auto-columns grid-auto-flow; 
}

.grid-container .grid-item {
	grid-row-start:    auto|row-line;
	grid-row-end:      auto|row-line|span n;
	grid-column-start: auto|span n|column-line;
	grid-column-end:   auto|span n|column-line;
	/* shorthands: */
	grid-row:    grid-row-start / grid-row-end;
	grid-column: grid-column-start / grid-column-end;
	grid-area:   grid-row-start grid-column-start grid-row-end grid-column-end; 
}