.foo {
	padding: top right bottom left;
	padding: top right-left bottom;
	padding: tob-bottom right-left;
	
	border-width: medium|thin|thick|length=trbl|tb lr|t rl b|t r b l;
	border-style: none|hidden|dotted|dashed|solid|double|groove|ridge|inset|outset;
	border-color: color|transparent;
	border:	width *style color; /* shorthand */
	
	font-family:  family-name|generic-family;
	font-size:    medium|xx-small|x-small|small|large|x-large|xx-large|smaller|larger|length unit;
	font-weight:  normal|bold|bolder|lighter|number;
	font-variant: normal|small-caps;
	font-style:   normal|italic|oblique;
	font: style variant weight size family|caption|icon|menu|message-box|small-caption|status-bar; /* shorthand */
	
	white-space: normal|nowrap|pre|pre-line|pre-wrap;
	
	transition-delay: 0s|ms;
	transition-duration: 0s|ms;
	transition-property: all|none|<property>;
	transition-timing-function: ease|linear...|steps(int,start|end)|cubic-bezier(n,n,n,n);
	transition: property duration timing-function delay; /* shorthand */

	transform:
		rotate(angle)
		rotate3d(x,y,z,angle)
		rotateX(angle)
		rotateY(angle)
		rotateZ(angle)
		
		translate(x,y)
		translate3d(x,y,z)
		translateX(x)
		translateY(y)
		translateZ(z)
		
		scale(x,y)
		scale3d(x,y,z)
		scaleX(x)
		scaleY(y)
		scaleZ(z)
		
		skew(x-angle,y-angle)
		skewX(angle)
		skewY(angle)
		matrix(n,n,n,n,n,n)
		matrix3d(n,n,n,n,n,n,n,n,n,n,n,n,n,n,n,n)
		perspective(n);
}