input {font-size:36px; background-color:#FC0; background-size:100px}
label {font-size:36px; background-color:#CC0;}
select {font-size:36px; background-color:#F9F;}
h1 {font-size:50px; font-family:Tahoma, Geneva, sans-serif; color:#FCC}