all html is valid except:
<script/>               forbidden
<html/> <body/> <base/> valid but doesn't make sense to use
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
template expression
{{ anything inside here }}

possible contexts: (by precedence)
	1. template context - reference variable                  <input #myElem /> <p>{{myElem.value}}</p>
	2. template context - input variable (directive context)  <li *ngFor="let item of arr">{{item.name}}</li> (won't read compInst.item prop)
	3. component instance member                              <p>{{classProp}}</p>


expressions cannot refer to: global|window|document|console.log|Math.max
(only members of their context)

any js is valid except:
= += -= ...                     assignment
new typeof instanceof ...       these operators
; ,                             multiple expressions
++ --                           inc dec operators
| &                             bitwise operators
some es6+ operators
| ?. !                          new template expression operators (!boolean negation is valid)
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
template statement
<p (eventname)="template statement"></p>
<p (click)="deleteHero()"></p>

possible contexts: (by precedence)
	1. template context - reference variable                 <p #myElem (click)="someMethod(myElem)"></p>
	2. template context - template $event object             <p (click)="someMethod($event)">Save</p>
	3. template context - input variable (directive context) <p *ngFor="let item of arr" (click)="someMethod(item)">{{item.name}}</p>
	4. component instance member                             <p (click)="someMethod()"></p>

statements cannot refer to: global|window|document|console.log|Math.max

valid:
	=   assignment 
	;.  multiple expressions
	
invalid:
	new
	++ --
	+= -= *= /=
	| &             bitwise
	|               angular pipe
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
interpolation
default: {{ }} otherwise: @Component({interpolation: ['%','%']})
converted to property binding

<p>{{ expression }}</p>
<p>{{ classProp }}</p>                          html is changed when prop changes
<p>2+2 equals {{2 + 2}}</p>
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
attr binding
<input [disabled]="condition ? true : false">
<input [attr.disabled]="condition ? 'disabled' : null">
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
property binding

{{expression}}                                              src-to-target (interpolate,prop,attr,class,style)
<p [target]="expression"   | bind-target="expression" />    ↑ ...
<p (target)="statement"    | on-target="statement" />       target-to-src (event)
<p [(target)]="expression" | bindon-target="expression" />  target-to-src-to-target (two-way)
-------------------------------------------------------------------------------
possible binding targets: (something in the dom)

1. property of htmlelement|component|directive
	element                  <img [src]="heroImageUrl" />
	component                <app-foo [name]="currentName></app-foo>
	directive                <div [ngClass]="{'special': isSpecial}"></div>

2. event    of htmlelement|component|directive
	element                  <button (click)="onSave()"></button>
	component                <app-foo (deleteRequest)="deleteHero()"></app-foo>
	directive                <div (myClick)="clicked=$event" clickable></div>

3. two-way event/property  <input [(ngModel)]="name">
4. attribute               <button [attr.aria-label]="help">help</button>
5. class property          <div [class.special]="isSpecial">Special</div>
6. style property          <button [style.color]="isSpecial ? 'red' : 'green'">
7. "unknown directive"
-------------------------------------------------------------------------------

note:
the binding is to the property of htmlelement,component,directive and not html attributes.
(attrs initialize dom props and then they're done)
every public member of a source directive is automatically available for binding.

examples:
<p [bindtarget]="bindsrc" />         bindtarget is changed when bindsrc changes
<p [bindtarget]="classProp" />
<p [disabled]="isDisabled" />
<p (click)="classMethod($event)" />  event, bind a class method to an event
<p [(ngModel)]="classProp" />        2 way binding, between class prop and html/component prop

<p *ngFor="let i of arr" />          loop through a class property, output this p for each iteration
<li *ngFor="let i of arr">{{i}}</li>
<p *ngIf="condition"></p>            output p if class propery exist
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
event binding
<p (eventname)="template statement"></p>  parens notation
<p on-eventname="template statement"></p> on- prefix

<p (click)="someMethod($event)"></p>      access event object with $event

<input [value]="currentItem.name"
       (input)="currentItem.name=$event.target.value" >
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@