<ul id="nav">
	<li><a href="{{DOCROOT}}">Home</a></li>
	<li><a href="{{DOCROOT}}/profile">Profile</a></li>
	<li><a href="{{DOCROOT}}/login">Login</a></li>
	<li><a href="{{DOCROOT}}/settings">Settings</a></li>
</ul>
<style>
#nav {
	display: flex;
	justify-content: space-around;
	background: wheat;
}
</style>