<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.5.4/dist/vue-router.min.js"></script>
<style>.router-link-active{color:red;}</style>

<div id="app">
	<h1>Hello App!</h1>
	<ul>
		<li><router-link to="/foo">Go to Foo</router-link></li>
		<li><router-link to="/bar">Go to Bar</router-link></li>
		<li><router-link to="/user/1">Go to User 1</router-link></li>
		<li><router-link v-bind:to="'/user/'+name">Go to User with</router-link> <input v-model="name" /></li>
		<li><router-link v-bind:to="'/user/'+name2">Go to User with</router-link> <input v-model="name2" /></li>
	</ul>
	<router-view></router-view> <!-- outlet (replaced, not contained) -->
</div>

<script>
const Foo = { template: '<h1>Hi I\'m foo</h1' };
const Bar = { template: '<h1>Bar Here</h1>' };
const User = { template: '<pre><h1>$route.params: {{ JSON.stringify($route.params) }}</h1></pre>' };

const router = new VueRouter({
	routes: [
		{ path: '/foo', component: Foo },
		{ path: '/bar', component: Bar },
		{ path: '/user/:id', component: User },
		{ path: '/user/:username/post/:post_id', component: User },
	]
});

new Vue({
  router,
	data: { name: '2', name2: 'javad/post/32' }
}).$mount('#app');
</script>